
{% extends 'dummy.html' %}


{% block title %}
    <title>HOME page</title>
{% endblock %}

{% block body_block %}
    <h1>reset_password</h1>
    <form method="POST">
        {% csrf_token %}
        <label for="username">username</label>
        <input type="text" name="username" id="username">
        <br>
        <br>
        <label for="password">New Password</label>
        <input type="password" name="password" id="password">
        <br>
        <br>
        <input type="submit" value="Reset" class="Danger">




    </form>

{% endblock %}