{% extends 'dummy.html' %}


{% block title %}
    <title>LOGIN page</title>
{% endblock %}

{% block body_block %}
    <h1>LOgin Form</h1>
    <form method="POST">
        {% csrf_token %}

        <label for="username">Username</label>
        <input type="text" name="username" id="username"><br>
        
        <label for="password">password</label>
        <input type="password" name="password" id="password"><br>
        
        <input type="submit" value="LogIN" class="btn btn-success">
    </form>
    <a href="{% url 'reset_password' %}">reset_password</a>

{% endblock %}







